.maincard{
  display: flex;
  column-gap: 1%;
  padding: 1%;
}
.card{
  color: white;
  text-align: justify;
  justify-content: space-evenly;
 
  padding: 1%;
}
.Displaycard:hover{
  transform: scale(1.1);
  box-shadow: 1%;
}
.cardcontant{
  padding-left: 4%;
  padding-right: 4%;
  padding-top:2% ;
}
.padding{
  padding-bottom: 9%;
}
@media screen and (max-width: 450px) {
  div.maincard {
  display: inline;
  justify-content: center;

  }
}
.Displaycard{
  border: solid white 2%;
  border-radius: 5%;
  box-shadow: 5px 5px lightgray;
}
hr{
  opacity: 0.3;
}
